$main-color: #070707;
$submain-color: #828282;
$hover-color: #00ffdd;

@mixin paragraph() {
    height: 68px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
    font-weight: 500;
}


* {
    font-family: Gilroy, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.wrapper {
    width: 943.61px;
    margin: 0 auto;
}

a:hover {
    color: $hover-color;
}

h1 {
    width: 123px;
    height: 118px;
    font-size: 47.3392px;
    line-height: 59px;
}

h2 {
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
    padding-top: 70px;
}


button {
    width: 150px;
    height: 50px;
    background: black;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
    border: none;
    margin-left: 395px;
}

button:hover {
    color: $hover-color;
}

nav {
    display: block;
    margin: 0 auto;
    width: 1140px;
    height: 80px;
    border: 2px solid $submain-color;
    border-top: none;
    border-right: none;
    border-left: none;
    text-align: start;
    border-bottom: none;

    & ul {
        display: flex;
        list-style: none;
        width: 943.61px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    & ul a {
        font-size: 18px;
        line-height: 22px;
        color: $submain-color;
        text-decoration: none;
        font-weight: 700;
    }
}

.main-info-block {
    &__menu {
        width: 943.61px;
        padding-top: 28px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__list-item1 {
        color: $main-color;
    }

    &__about {
        display: flex;
        justify-content: space-between;
        width: 940.6px;
    }

    &__about_info {
        font-size: 18px;
        line-height: 22px;
        color: #070707;
        text-align: center;
        margin-top: 105px;
    }

    &__about_change-lang {
        transform: rotate(270deg);
        width: 88px;
        height: 17.05px;
        position: relative;
        left: 34.25px;
        top: 77.94px;
        color: #828282;
        font-weight: 900;

    }
   
    &__about_change-lang span {
        color: #070707;
    }

    &__about_change-lang:hover {
        color: $hover-color;
    }


    &__about_change-lang span:hover {
        color: $hover-color;
    }

    &__photo {
        width: 943.61px;
        height: 387px;
        margin: 0 auto;
        padding-bottom: 100px;
        display: block;
    }


}

.about-info-block {
    width: 940.6px;
    height: 506px;
    background: #F6F6F6;
    margin: 0 auto;

    &__paragraph1,
    &__paragraph2,
    &__paragraph3 {
        @include paragraph();
    }
}


.splide1 {
    width: 943px;
    justify-content: center;
}


.about-skills-block {
    margin: 0 auto;

    &__title {
        height: 24.04px;
        font-size: 20px;
        line-height: 22px;
        text-align: center;
        color: #070707;
        font-weight: 400;
        padding: 10px 0 70px 0;
        margin: 50px 0 0 0;
    }

    &__skills {
        display: flex;
        width: 513px;
    }

    &__skills ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 50px 30px 0 0;

    }

    &__ps-skill {
        margin: 0 auto;
    }

    &__ps-skill-icon {
        margin: 0 480px 0 0;
    }

}

.portfolio-info-block {
    & img {
        width: 936.24px;
        height: 510px;
        margin: 60px 0 80px 0;
    }

    & a {
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        text-decoration-line: underline;
        color: $main-color;
        margin: 0 0 0 320px;
    }

    & a:hover {
        color: $hover-color;
    }
}

.contacts-info-block {
    & img {
        margin: 80px 0 50px 300px;
        justify-content: center;
    }

    & p {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: $submain-color;
    }
}

.footer {
    width: 928px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: $submain-color;
    margin: 0 auto;
   
    &__content {
        margin: 0 auto;
    }
}


footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 70px 50px 60px 10px;
}

footer ul li {
    padding-left: 20px;
    margin-right: 30px;

}

footer ul li:hover {
    position: relative;
    bottom: 5px;
}


@media screen and (max-width: 767px) {

       
    hr {
        display: none;
    }
     
    h1 {
        margin: 0 10px;
    }

    h2 {
        text-align: center;
        width: 320px;
    }

    .main-info-block .wrapper,
    .about-info-block .wrapper,
    .about-skills-block .wrapper,
    .portfolio-info-block .wrapper,
    .contacts-info-block .wrapper,
    .wrapper {
        width: 316.5px;
    }

    .mobile.wrapper {
        position: relative;
    }

    .main-info-block {
        width: auto;
        margin: 0 auto;

        &__about {
            width: 375px;;

            &_change-lang {
                position: relative;
                left: -30.25px;
                top: 150.94px;
            }

            &_info {
                margin-left: 10px;
            }
        }

        &__menu {
            display: none;
            background-color: #ffffff;
            z-index: 1000;
            position: absolute;
            width: 375px;
            height: 100vh;
            top: 0;
            left: 170%;
            transform: translateX(-50%);
            margin: 0;
            transition: .5s ease-in-out;
        }

        &__photo {
            position: relative;
            width: 375px;
            height: 300px;
            top: 80px;
            margin-left: 5px;
            display: block;
        }

        &__menu nav {
            width: 375px;
            height: 450px;
        }

        &__menu nav ul {
            background-color: white;
            margin: 10px 0 0 0;
            width: 375px;
            height: 560px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        &__about_info {
            position: absolute;
            top: 90px;
        }

        &__cross{
            width: 30px;
            height: 30px;
            position: absolute;
            top: 5px;
            right: 0;
            cursor: pointer;
        }

        &__cross span{
            position: absolute;
            top: 10px;
            content: '';
            display: block;
            width: 100%;
            height: 3px;
            border-radius: 2px;
            background-color: #000000;
            transform: rotate(-45deg);
        }

        &__cross span:before{
            content: '';
            display: block;
            width: 100%;
            height: 3px;
            border-radius: 2px;
            background-color: #000000;
            transform: rotate(90deg);
        }
    }

  
    @mixin media-paragraph() {
        width: 316.5px;
        height: 111px;
        padding: 0;
        margin: 0;
    }

    .about-info-block {
        width: auto;
        height: auto;
        margin: 0 auto;

        &__paragraph1,
        &__paragraph2,
        &__paragraph3 {
            @include media-paragraph();
        }

        &__paragraph1 {
            padding-bottom: 50px;
        }

        &__paragraph2 {
            padding-bottom: 30px;
        }

        &__content {
            width: 316px;
            align-items: flex-start;
        }

    }

    .about-skills-block {
        &__skills {
            width: 316.5px;
            display: block;
        }

        
        &__ps-skill-icon {
            margin: 0;
            display: block;
        }
    }
 
    .portfolio-info-block {
        width: auto;
        height: auto;
        margin: 0 auto;
        background: #F6F6F6;

        & img {
            width: 316px;
            height: 171px;
        }

        & a {
            width: 314px;
            height: 22, 03px;
            font-size: 18px;
            line-height: 22px;
            text-align: left;
            text-decoration-line: underline;
            color: #000000;
            text-align: left;
            margin: 0;
            padding-left: 50px;
        }


    }

    .contacts-info-block {
        width: 316.5px;
        margin: 0 auto;

        & p {
            width: 316.5px;
            margin: 0 auto;
            font-weight: 600;
            color: $main-color;
            padding: 10px 0 10px 0;
        }

        & img {
            width: 316.5px;
            margin: 0 auto;
            margin-top: 40px;
            padding-bottom: 15px;
        }

    }


    button {
        width: 316.5px;
        margin: 0 auto;
        height: 50px;
        background: black;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        line-height: 16px;
        color: #FFFFFF;
        text-decoration: none;
        border: none;
    }

    footer {
        width: 316.5px;
        margin: 0 auto;
        padding: 40px 0 0 0;

        &__content {
            width: 316.5px;
            font-size: 14px;
            line-height: 22px;
            padding: 0;
            margin: 0 auto;
            font-weight: 600;
        }

        & ul {
            list-style: none;
            margin-left: 20px;
            display: flex;
            justify-content: center;
            margin: 70px 50px 60px 10px;
        }

        & ul li {
            padding-left: 20px;
            margin-right: 30px;
    
        }
    
        & ul li:hover {
            position: relative;
            bottom: 5px;
        }

        &__content {
            margin: 0 auto;
        }
    }

    .menu__mobile {
        display: block;
        position: relative;
        width: 90px;
        height: 90px;
        margin: 0;
        right: 70px;
        top: 35px;
        border: none;
    }

    .main-info-block__menu {
        padding: 0;
        margin: 20px;
        height: 0;
    }

    .menu__burger {
            margin: 0;
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            cursor: pointer;
            left: 280px;
            top: 40px;
         
       & span {
            background-color: $main-color;
            position: absolute;
            width: 100%;
            top: 9px;
            height: 2px;
    }

        & span:after,
        & span:before {
            content: '';
            background: $main-color;
            position: absolute;
            width: 100%;
            height: 2px;
    }

        & span:after {
            bottom: 10px;
         }

         & span:before {
            top: 10px;
         }
     }
}


